.weather-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    margin-bottom: 0;
  }
  p {
    margin: 0;
  }
  .temp {
    font-size: 36px;
  }
  img {
    height: 100%;
    max-height: 7rem;
    width: auto;
    position: absolute;
    right: 1rem;
  }
}
